/*--------------------------------------------------------------
# Education Page Specific Styles
--------------------------------------------------------------*/

.card-subtitle {
  font-weight: 700;
  color: var(--blue-medium);
}

.span-lemos {
  color: var(--gray-black);
}

.card-img-top {
  max-width: 250px;
}

.activity-names {
  font-weight: 600;
  /* font-size: 90%; */
}

.activity-lemos {
  font-size: 95%;
}
