/*--------------------------------------------------------------
# Experience Page Specific Styles
--------------------------------------------------------------*/

.card-img-top {
  max-width: 150px;
  min-width: 100px;
  border-radius: 5px;
}
