/*--------------------------------------------------------------
# Home Page Specific Styles
--------------------------------------------------------------*/

.fa-fw {
  color: var(--blue-medium);
}

.social-icons {
  list-style-type: none;
}

.ref-journal {
  font-weight: 600;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--blue-medium);
}
