/*--------------------------------------------------------------
# Home Page Specific Styles
--------------------------------------------------------------*/

.fa-fw {
  color: var(--blue-medium);
}

.social-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icons > li {
  margin-left: 50px;
}

.ref-journal {
  font-weight: 600;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--blue-medium);
}
