/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
  /* --primary-colors --*/
  --white-ish: #f9f7f7;
  --light-gray: #dbe2ef;
  --bluish-gray: #e4e9f1;
  --blue-light: #669bbc;
  --blue-medium: #0077b6;
  --blue-dark: #0f4c75;
  --dark-b: #003566;
  --gray-black: #415a77;
  --darker-b: #1b262c;

  /* https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e */
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--light-gray);
  font-family: "Ubuntu Sans", sans-serif;
  color: var(--gray-black);
}

/* Navbar */

nav {
  background-color: var(--blue-dark);
}

.navbar-brand {
  color: var(--light-gray) !important;
  font-size: 1.75rem !important;
  font-weight: 700;
}

.nav-link {
  color: var(--light-gray) !important;
}

.navbar-expand-lg {
  font-size: 1.2rem !important;
}

/* Buttons */

.btn-blue {
  color: var(--white-ish) !important;
  background-color: var(--blue-light);
  border: 2px solid var(--blue-medium);
}

.btn-blue > a {
  color: var(--white-ish);
  border-color: var(--light-gray);
}

button:hover {
  font-size: 1.0001rem;
  background-color: var(--blue-medium);
}

button > a {
  color: var(--white-ish) !important;
}

button > a:hover {
  color: var(--white-ish) !important;
  text-decoration: none;
}

/* Other common styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul > li {
  font-family: "Ubuntu Sans", sans-serif;
}

a {
  color: var(--blue-light);
}

a:hover {
  color: var(--blue-medium) !important;
  text-decoration: none;
}

.card-title {
  font-weight: 800;
}

.card {
  border: 1px solid var(--blue-light);
  background-color: var(--bluish-gray);
}

.small-lemos {
  font-weight: 500;
  font-size: smaller;
  color: var(--blue-light);
}

.responsive-text {
  font-size: 1rem; /* Base font size for extra small screens */
}

@media (min-width: 300px) {
  .responsive-text {
    font-size: 1.2rem; /* Small screens */
  }
}

@media (min-width: 576px) {
  .responsive-text {
    font-size: 1.5rem; /* Medium screens */
  }
}

/* Footer */

.footer-lemos {
  background-color: #0f4c75;
  font-size: smaller;
}

.footer-lemos-nifme {
  background-color: #1b262c;
  font-size: smaller;
}

.footer-icons {
  color: var(--blue-light);
}

.footer-icons:hover {
  color: var(--blue-medium);
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-top: 90px; /* Bootstrap navbar height */
}

#footer {
  position: absolute;
  bottom: 0; /* Fixes it at bottom */
  padding-top: 2%;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
