/*--------------------------------------------------------------
# Publications Page Specific Styles
--------------------------------------------------------------*/

.ref-author-lemos {
  font-weight: 700;
  color: var(--darker-b);
}

body.dark-mode .ref-author-lemos {
  color: var(--light-gray);
}

.ref-journal {
  font-weight: 700;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--blue-medium);
}

li > span > a:hover {
    color: var(--blue-medium);
    text-decoration: none;
    font-size: 1.001rem;
    font-weight: 400 !important;
    text-shadow:
        0.4px 0 currentColor,
        -0.4px 0 currentColor;
}

.articles-card {
  background-color: var(--bluish-gray);
  border-radius: 5px;
  border: 1px solid var(--blue-light);
}

body.dark-mode .articles-card {
  background-color: var(--darker-b);
}

.bibtex-card{
  position: relative;
  font-size: 0.9rem;
  border: 1px solid var(--blue-light);
  background-color: var(--light-gray);
  border-radius: 5px;
}

body.dark-mode .bibtex-card pre{
  color: var(--white-ish);
  background-color: var(--gray-black);
}

.bibtex-copy-btn{
  position: absolute;
  top: 8px; 
  right: 8px;
  color: var(--gray-black);
  background-color: var(--white-ish);
  border: 1px solid var(--blue-light);
}
