/*--------------------------------------------------------------
# Publications Page Specific Styles
--------------------------------------------------------------*/

.ref-author-lemos {
  font-weight: 700;
  color: var(--darker-b);
}

.ref-journal {
  font-weight: 700;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--blue-medium);
}

li > span > a:hover {
  color: var(--blue-medium);
  text-decoration: none;
  font-size: 1.001rem;
  font-weight: 700 !important;
}

.articles-card {
  background-color: var(--bluish-gray);
  border-radius: 5px;
  border: 1px solid var(--blue-light);
}
